html{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url(images/register-background.jpg);
    height: 100%;
    widows: 100%;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    background-repeat: no-repeat;
}

.boxthing {
    width: 480px;
    height: 580px;
    position: fixed;
    top: 10%;
    left: 20%;
    margin: 6% auto;
    background: white;
    padding: 5px;

}

h1, h2 {
    position: relative;
}
h1 {
    font-size: 39px;  
    padding: 0px 35px; 
}
h2 {
    padding: 10px 17px;
    color: gray;
}

.inputtext {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    
}

.inputfield {
    width: 150%;
    padding: 10px 0;
    margin-left: 20px;
    margin: 20px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}

.submitbtn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.submitbtn:hover {
    color: darkgrey;
}
