*{
    margin: 0;
    padding: 0;
}
.content {
    height: 100%;
    widows: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4), url(images/register-background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    
}