<!DOCTYPE html>
<html lang= en>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Tech for Tails Staff</title>
  <link rel="stylesheet" href="static\css\login-page-staff.css" type="text/css">
  
</head>

<body>
  <div class="hero">
      <div class="boxthing">
      <h1>Tech for Tails</h1>
      <hr style="width: 90%;">
      <h2>Staff Login</h2>
          <form class="inputtext">
             
              <input type="text" class="inputfield" placeholder="Username">
              <input type="password" class="inputfield" placeholder="Password">
              
              <button type="submit" class="submitbtn">
                Submit
              </button>
           </form>
          </div> 
      </div>

</body>
</html>
